<div ng-include="'components/navbar/navbar.html'"></div>

<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-4 col-md-offset-4">
      <h1>Change Password</h1>
    </div>
    <div class="col-sm-12 col-md-4 col-md-offset-4">
      <form class="form" name="form" ng-submit="changePassword(form)" novalidate>

        <div class="form-group">
          <label>Current Password</label>

          <input type="password" name="password" class="form-control" ng-model="user.oldPassword"
                 mongoose-error/>
          <p class="help-block" ng-show="form.password.$error.mongoose">
              {{ errors.other }}
          </p>
        </div>

        <div class="form-group">
          <label>New Password</label>

          <input type="password" name="newPassword" class="form-control" ng-model="user.newPassword"
                 ng-minlength="3"
                 required/>
          <p class="help-block"
             ng-show="(form.newPassword.$error.minlength || form.newPassword.$error.required) && (form.newPassword.$dirty || submitted)">
            Password must be at least 3 characters.
          </p>
        </div>

        <p class="help-block"> {{ message }} </p>

        <button class="btn btn-lg btn-primary" type="submit">Save changes</button>
      </form>
    </div>
  </div>
  <div class="row"></div>
  <div class="row">
    <div class="col-sm-12 col-md-4 col-md-offset-4">
      <h1>User Settings</h1>
    </div>
    <div class="col-sm-12 col-md-4 col-md-offset-4">
      <form class="form" name="form" ng-submit="saveUserSettings();" novalidate>
        <alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</alert>
        <div class="form-group">
          <label>Preferred working hours per day</label>
          <input type="number" name="prefHours" class="form-control" ng-model="currentUser.settings.preferredWorkingHoursPerDay" min="0" max="24"
                 mongoose-error/>
        </div>

        <button class="btn btn-lg btn-primary" type="submit">Save Settings</button>
      </form>
    </div>
  </div>
</div>
