<div ng-include="'components/navbar/navbar.html'"></div>

<header class="hero-unit" id="banner">
  <div class="container">
    <h1>Time Tracker app</h1>
  </div>
</header>

<div class="container">
  <div class="row" ng-show="!isLoggedIn()">
    <h2>Please log in to use Time Tracker app</h2>
  </div>
  <div class="row" ng-show="isLoggedIn()">
    <div class="col-xs-12 col-sm-3 hidden-print">
      <h3 class="page-header">Filter Entries</h3>
      <div class="form-group">
        From:
        <div class="input-group ">
          <input type="text" class="form-control" datepicker-popup="dd MMM yyyy" ng-model="filter.dateFrom.date" is-open="filter.dateFrom.datePickerOpened" close-text="Close" />
              <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="openDatePicker($event, filter.dateFrom)"><i class="glyphicon glyphicon-calendar"></i></button>
              </span>
        </div>
      </div>
      <div class="form-group">
        To:
        <div class="input-group ">
          <input type="text" class="form-control" datepicker-popup="dd MMM yyyy" ng-model="filter.dateTo.date" is-open="filter.dateTo.datePickerOpened" close-text="Close" />
              <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="openDatePicker($event, filter.dateTo)"><i class="glyphicon glyphicon-calendar"></i></button>
              </span>
        </div>
      </div>

    </div>
    <div class="col-xs-12 col-sm-8 ">
      <h3 class="page-header hidden-print">Add new entry</h3>
      <form class="hidden-print" name="newEntryForm" ng-submit="addEntry(newEntryForm)">
      <div class='col-sm-4'>
        <div class="form-group">
          Date:
          <div class="input-group ">
             <input type="text" class="form-control" datepicker-popup="dd MMM yyyy" ng-model="newEntry.date" is-open="newEntry.datePickerOpened" ng-required="true" close-text="Close" />
              <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="openDatePicker($event, newEntry)"><i class="glyphicon glyphicon-calendar"></i></button>
              </span>
          </div>
        </div>
      </div>
      <div class='col-sm-4'>
        <div class="form-group">
          Hours:
          <div class="input-group">
            <input class="form-control" type="number" ng-model="newEntry.hours" ng-required="true" min="0" max="24" step="0.5"/>
          </div>
        </div>
      </div>
      <div class='col-sm-10'>
        <div class="form-group">
          Notes:
          <div class="">
            <textarea class="form-control" ng-model="newEntry.desc" ng-required="true"></textarea>
          </div>
        </div>
      </div>
      <div class='col-sm-2'>
        <div class="form-group">
          &nbsp;
          <div class="input-group ">
            <button class="btn btn-primary" type="submit">ADD</button>
          </div>
        </div>
      </div>
      </form>
    </div>
    <div class="row clearfix"></div>
    <div class="col-xs-12 col-sm-11">
      <h1 class="page-header">Work Entries</h1>
      <form name="editEntryForm">
      <alert ng-show="!editEntryForm.$valid" type="danger">Please review your work entry. All fields are required, hours must be in 0-24 range.</alert>
      <ul class="list-group">
        <li class="list-group-item single-entry {{entry.colorClass}}" ng-repeat="entry in getFilteredEntries() | orderBy:'date'" ng-class="{'edit-mode':entry.editMode }">

          <span ng-if="!entry.editMode">
            <strong>{{entry.date | date:'dd MMM yyyy'}}</strong> - {{entry.hours}} hours<br>
            <span class="text-muted">{{entry.desc}}</span>
          </span>

          <span ng-if="entry.editMode" class="start-edit-mode" ng-class="{'animate-edit-mode':entry.editMode }">
            <div class='col-sm-4'>
              <div class="form-group">
                Date:
                <div class="input-group ">
                  <input type="text" class="form-control" datepicker-popup="dd MMM yyyy" ng-model="entry.date" is-open="entry.datePickerOpened" ng-required="true" close-text="Close" />
              <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="openDatePicker($event, entry)"><i class="glyphicon glyphicon-calendar"></i></button>
              </span>
                </div>
              </div>
            </div>
            <div class='col-sm-4'>
              <div class="form-group">
                Hours:
                <div class="input-group">
                  <input class="form-control" type="number" ng-model="entry.hours" ng-required="true" min="0" max="24" step="0.5"/>
                </div>
              </div>
            </div>
            <div class='col-sm-8'>
              <div class="form-group">
                Notes:
                <div class="">
                  <textarea class="form-control" ng-model="entry.desc" ng-required="true"></textarea>
                </div>
              </div>
            </div>
          </span>

          <a ng-click="updateEntry(entry, editEntryForm);" ng-if="entry.editMode" class="positive-green"><span class="glyphicon glyphicon-ok pull-right entry-action" ></span></a>
          <a ng-click="revertChanges(entry);" ng-if="entry.editMode"><span class="glyphicon glyphicon-chevron-left pull-right entry-action"></span></a>
          <a ng-click="deleteEntry(entry);" ng-if="!entry.editMode" class="trash"><span class="glyphicon glyphicon-trash pull-right entry-action"></span></a>
          <a ng-click="switchToEdit(entry)" tooltip="{{entry._id}}" ng-if="!entry.editMode"><span class="glyphicon glyphicon-edit pull-right entry-action"></span></a>

        </li>
      </ul>
      </form>
    </div>
  </div>
</div>

<footer class="footer">
  <div class="container">
      <p>Time Tracker App | by <a href="https://github.com/romanmandryk" target="_blank">Roman Mandryk</a></p>
  </div>
</footer>
