<div ng-include="'components/navbar/navbar.html'"></div>

<header class="hero-unit" id="banner">
  <div class="container">
    <h1>ttTime</h1>
  </div>
</header>

<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">Add new entry</h1>
      <div class="we-new">
        <span class="we-new-date"><input type="date" ng-model="newEntry.date"/></span> |
        <span class="we-new-hours"><input type="number" ng-model="newEntry.hours"/></span> |
        <span class="we-new-desc"><input type="text" ng-model="newEntry.desc"/></span> |
        <button ng-click="addEntry()">ADD</button>
      </div>
      <h1 class="page-header">Work Entries:</h1>
      <ul class="nav nav-tabs nav-stacked col-md-4 col-lg-4 col-sm-6" ng-repeat="entry in workEntries">
        <li>
          <a href="#" ng-click="switchMode" tooltip="{{entry._id}}">{{entry._id.substr(0,6)}}</a> |
          <span class="we-date">{{entry.date}}</span> |
          <span class="we-hours">{{entry.hours}}</span> |
          <span class="we-desc">{{entry.desc}}</span> |

        </li>
      </ul>

    </div>
  </div>
</div>

<footer class="footer">
  <div class="container">
      <p>ttTime | by Roman Mandryk</p>
  </div>
</footer>
